
DJANGO_SECRET_KEY=django-insecure-CHANGE-ME-IN-PRODUCTION
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1


DB_ENGINE=django.db.backends.mysql
DB_NAME=Jegymester
DB_USER=avnadmin
DB_PASSWORD=YOUR_DB_PASSWORD_HERE
DB_HOST=YOUR_DB_HOST_HERE
DB_PORT=21964


EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
